<div class="card-content">
    <div class="media">
        <div class="media-content">
            <p class="title is-4"><%= @post.title %></p>
        </div>
    </div>
    <div class="content">
        <%= @post.created_at %><br>
        <%= @post.content %>  
    </div>
</div>