<div class="columns is-multiline is-marginless">
    <% @pokemon_cards.each do |card| %>
        <div class="column is-one-fifth is-marginless">
                <a href="/pokemon_cards/<%=card.id%>">
                    <img src="<%= card.image_url %>">
                </a>
        </div>
    <% end %>
</div> 



