<div class="card">
    <% @pokemon_cards.each do |card| %>
        <div class="card-image">
            <figure class="image is-3by4">
                <a href="/pokemoncards/<%=card.id%>"><img src="<%= card.image_url %>"></a>
                <!-- <%= link_to  pokemon_card_path(card.id) do%>
                    <img src="<%= card.image_url %>">
                <%end %> -->
            </figure>
        </div>
    <% end %>
</div>



