

<div class="introduction"
    <h1>Welcome to PokeTrade!</h1>
    <br>
    <h3>
    This is an App that allows you to show off your Pokemon Card collection and trade cards with other users!
    <br>
    To get started, please Create an Account or Log In!
    </h3>
</div>
