


     <h1 class="title is-1 has-text-warning has-text-centered">Welcome to PokeTrade!</h1>
    <br>
<div class="colums">
    <div >
    <h3 class="subtitle is-4 is-light has-text-light has-text-centered " >
    This is an App that allows you to show off your Pokemon Card collection and set up a trade with other users through the Trade forum!
    <br>
    To get started, please <%= link_to "Create", new_user_path %> an account or <%= link_to "Log in!", login_path %>
    </h3>
    </div>
    </div>
</div>
